.autocomplete-container {
    position: relative;
  }
  .autocomplete-list {
    position: absolute;
    z-index: 100;
    width: 100%;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 130px;
    overflow-y: auto;
  }
  
  .autocomplete-item {
    cursor: pointer;
    border-bottom: 1px #ccc solid;
    padding: .60rem 1.25rem;
  }
  .autocomplete-item:hover {
    background-color: #007bff;
    border: #007bff;
    color: white;
  }
